



.reset {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
}



.transition {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

header {
	color: black;
	text-align: center;
}


body {
	background: #DB7093;
	margin-top: 2rem;
}

section {
	background-color: #6495ED;
	border-radius: 10px;
	padding: 100px;
	width: 500px;
	margin: auto;
	box-shadow: 3px 3px 10px rgba(0, 0, 0.363);
}

/*tablets */
@media screen and (max-width:768px){
	section, aside{
		width: 100%;
		padding: 0;
	}
}


/*celulres */

@media screen and (max-width:600px){
	nav li{
		float: none;
		text-align: center;
		width: 100%;
	}
}
.tasker {
	max-width: 400px;
	margin: 0 auto;
	.error {
		display: none;
		background: rgba(237, 28, 36, 0.7);
		color: #fff;
		padding: 14px;
		margin-bottom: 10px;
		border-radius: 5px;
		text-align: center;
	}

	ul {
		@extend %reset;
		background: #fff;
	}

	li,
	.error,
	button,
	input {
		@extend %reset;
		font: 18px/1.25em Helvetica, Arial, Sans-serif;
	}
}

.tasker-header {
	display: inline-flex;
	background: $primary;
	justify-content: space-between;
	width: 100%;
	input,
	button {
		color: #fff;
		box-sizing: border-box;
		font-size: 1.25em;
		padding: 14px;
	}

	input {
		flex-grow: 2;
	}

	button {
		@extend %transition;
		background: $secondary;
		border-left: 1px solid ($secondary * 1.05);
		&:hover {
			background: $secondary * 1.1;
		}
	}
}

.tasker-body {
	.task {
		display: block;
		position: relative;
		padding: 14px 40px 14px 14px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		&:last-child {
			border-bottom: none;
		}

		.hover > button {
			opacity: 1;
		}

		.completed {
			color: grey;
			text-decoration: line-through;
		}

		input {
			margin-right: 10px;
		}

		button {
			@extend %transition;
			color: $grey;
			margin: 14px;
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			.add-task-btn {
				color: #ed1c24;
			}
		}
	}
}